# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Metplotlib

|Data Science tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
#This a simple arithmetic expression to mutiply then add integers.
#a=3
b=4
c=5
(a*b)+c

17

In [11]:
#This will convert 200 minutes to hours by diving by 60.
minutes=200
hour=60
# 200 minutes to hours is
(minutes/hour)

3.3333333333333335

***Objectives:***
* Python
* R Studio
* SQL
* Pandas
* NumPy
* Metaplotlib

## Author
Aneesh P B